.container{
    width: fit-content;
    margin: 12px 0;
    height: 40px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    h1{
        font-size: 26px;
        color: #f7f7f7;
    }
}