.header{
    display: flex;
    .left{
        width: 35vw;
    }
    .right{
        width: 35vw;
        text-align: right;
        
    }
}
.footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

